@page
@model BonusPointManager.Pages.Eurobonus.Transactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EurobonusTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EurobonusTransaction.Account" class="control-label"></label>
                <select name="accountId" asp-for="SelectedAccountId" asp-items="Model.AccountList" asp-selecteditem="" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusTransaction.AcquiredDate" class="control-label"></label>
                <input asp-for="EurobonusTransaction.AcquiredDate" class="form-control" />
                <span asp-validation-for="EurobonusTransaction.AcquiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusTransaction.Amount" class="control-label"></label>
                <input asp-for="EurobonusTransaction.Amount" class="form-control" />
                <span asp-validation-for="EurobonusTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusTransaction.PointType" class="control-label"></label>
                <select asp-for="EurobonusTransaction.PointType" asp-items="Html.GetEnumSelectList<Models.Eurobonus.PointType>()" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusTransaction.Description" class="control-label"></label>
                <input asp-for="EurobonusTransaction.Description" class="form-control" />
                <span asp-validation-for="EurobonusTransaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
