@page
@model BonusPointManager.Pages.Eurobonus.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EurobonusAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EurobonusAccount.AccountNumber" class="control-label"></label>
                <input asp-for="EurobonusAccount.AccountNumber" class="form-control" />
                <span asp-validation-for="EurobonusAccount.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusAccount.Name" class="control-label"></label>
                <input asp-for="EurobonusAccount.Name" class="form-control" />
                <span asp-validation-for="EurobonusAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusAccount.SignupDate" class="control-label"></label>
                <input asp-for="EurobonusAccount.SignupDate" class="form-control" />
                <span asp-validation-for="EurobonusAccount.SignupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EurobonusAccount.StatusLevel" class="control-label"></label>
                <select asp-for="EurobonusAccount.StatusLevel" asp-items="Html.GetEnumSelectList<Models.Eurobonus.StatusLevel>()" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
